
.Heading{
    text-align: center;
}
textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
}
#output{
    border: 1px solid black;
    display: block;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;

}